<div class="contact">
       
	<footer>
		<link rel="stylesheet" type="text/css" href="/css/_footer.css">
		<br>Click on the following links to get divisioned search results-
		<br><a href="/users/mental_illness">Mental Illness</a><br>
		<a href="/users/physical_illness">Physical Illness</a><br>  
	
	
	  <h2><em>Contact Us</em></h2>
	  Email-  <br> 
	  <a href="mailto:v_vaidya@gmail.com">v_vaidya@gmail.com</a><br>
		<a href="mailto:we_doc@gmail.com">we_doc@gmail.com</a><br>
	  
	  <br>Tele Phone-<br>
		223-334-2345 <br>
		223-334-2346 <br>
	  
	
	</footer>
	</div>