<html>

<head>
	<title>ChatRoom</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="script.js"></script>

	<style>

		body{
				font-size: 20px;
		}

		p{
			text-indent: 30px;
		}

		.serif {
  			font-family: "Times New Roman", Times, serif;
		}

		.mydiv{
			padding:16px;
			margin:10px;
		}

		button{
			background-color:black;
			color:white;
			padding:10px 22px;
			margin:8px;
			display:inline-block;
			border:none;
			cursor:pointer;	
			width:auto;
			font-size:16px;
		}	
	
		button:hover{
			opacity:0.6;
		}	

		a:link, a:visited{
			color:white;
			text-decoration:none;
		}

		table{
			border-collapse:collapse;
			width:100%;
		}

		td,th{
			border: 1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(even){
			background-color:#dddddd;
		}

	</style>
</head>

<body>
<!--sidebar-->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="mental illness.html">Mental Illness</a>
  <a href="physical illness.html">Physical Illness</a>
</div>

<!--Responsive Navbar -->
<div class="navbar" id="mynavbar">
	<div id="main">
 		 <button class="openbtn" onclick="openNav()">☰ </button>  
			<div class="navbar-right">
				<a href="homepage.html" class="active">Home</a>
				<a href="login.html">Login</a>
					<div class="dropdown" style="float:right;">
					  <button onclick="myFunction1()" class="dropbtn">Sign Up<i class="fa fa-caret-down"></i></button>
 						 <div id="myDropdown" class="dropdown-content">
    						<a href="signup as doc.html">As a Doctor</a>
   							 <a href="signup as patient.html">As a Patient</a>
  						</div>
					</div>
    				<i class="fa fa-bars"></i>
			</div>
    </div>
</div>
<br><br><br>
<h2><em>ChatRooms for Physical illness</em></h2>

<button type="button" style="width:100%"><a href="newChat.html">Create a new ChatRoom</a></button>

<table>
	<tr style="font-size:25px">
		<th>Sr. No.</th>
		<th>ChatRoom Name</th>
		<th>Join the chat</th>
	</tr>

	
	<tr>
		<td>1</td>
		<td>Covid-19</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	
	<tr>
		<td>2</td>
		<td>Yoga for physical fitness.</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>3</td>
		<td>Physical Fitness</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>4</td>
		<td>Respiratory chats</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>5</td>
		<td>TB chatroom</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>6</td>
		<td>Appendix!</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>7</td>
		<td>Gallbladder Stone</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>8</td>
		<td>Stone</td>
		<td><button type="button"><a href="ChatRoom\public\indexpjoin.html">Join</a></button></td>
	</tr>

	<tr>
		<td>9</td>
		<td>Kidney Stone</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>
	
	<tr>
		<td>10</td>
		<td>Intestinal issues</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>
	
	<tr>
		<td>11</td>
		<td>Typhoid</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>12</td>
		<td>Jaundice</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	
	<tr>
		<td>13</td>
		<td>Allergies</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	
	<tr>
		<td>14</td>
		<td>Stomach Ache</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>15</td>
		<td>Flu</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>16</td>
		<td>Head Ache</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>
	
	<tr>
		<td>17</td>
		<td>Diarrhea</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

	<tr>
		<td>18</td>
		<td>Skin Care</td>
		<td><button type="button"><a href="ChatRoom\public\indexp.html">Join</a></button></td>
	</tr>

</table>


<!--footerrr-->


</body>
</html>