<!DOCTYPE html>
<html>
<head>
	<title>Find A doctor for Physical illness</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" type="text/css" href="/css/style.css">
  	<script type="text/javascript" src="/scripts/script.js"></script>	

	<style>

		html {
  			box-sizing: border-box;
		}

		*, *:before, *:after {
  			box-sizing: inherit;
		}

		.column {
  			float: left;
  			width: 33.3%;
  			margin-bottom: 16px;
  			padding: 0 8px;
		}

		@media screen and (max-width: 650px) {
  			.column {
    				width: 100%;
    				display: block;
		 	}
		}

		button{
			background-color:black;
			color:white;
			padding:8px;
			display:inline-block;
			border:none;
			cursor:pointer;	
			width:100%;
			font-size:16px;
			outline:0;
		}	
	
		button:hover{
			opacity:0.6;
		}	

		a:link, a:visited{
			color:black;
			text-decoration:none;
		}

		.card{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		}

		.title{
			color:grey;
		}

		.container{
			padding: 0 16px;
		}

		.container::after, .row::after{
			content:"";
			clear:both;
			display: table;
		}

	</style>
</head>

<body>



<br><br><br>
<h1><em>Find a Doctor</em></h1>
<br>

   <div class="row">
    <div class="column">
     <div class="card">
       
       <img src="https://img.icons8.com/color/100/000000/dona-sarkar.png" alt="Dr. Jane Doe" style="width:auto">
      
     <div class="container">
            <h2>Dr. Ritesh Gupta</h2>
            <p class="title">Psychiatrist</p>
            <p>IMS BHU</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
          </div>
       </div>
    </div>

   <div class="column">
     <div class="card">
      <img src="https://img.icons8.com/color/100/000000/gabriel-aul.png" alt="Dr. Mahesh Aggarwal" style="width:auto">
    
        <div class="container">
            <h2>Dr. Mahesh Aggarwal</h2>
            <p class="title">Nuerosurgeon</p>
            <p>AIIMS Delhi</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
             </div>
         </div>
    </div>
  
    <div class="column">
      <div class="card">
          <img src="https://img.icons8.com/ios/100/000000/dona-sarkar.png" alt="Dr. Ekta Mukherji" style="width:auto">
      
      <div class="container">
           <h2>Dr.Ekta Maheshwari</h2>
               <p class="title">Psychologist</p>
               <p>Maulana Azad</p>
         <div style="margin: 24px 0;">   
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
           </div>
          <p><button class="button">Contact</button></p>
          </div>
        </div>
    </div>

 </div>


   <div class="row">
    <div class="column">
     <div class="card">
       
       <img src="https://img.icons8.com/color/100/000000/dona-sarkar.png" alt="Dr. Sita Kamble" style="width:auto">
      
     <div class="container">
            <h2>Dr.Sita Kamble</h2>
            <p class="title">Psychiatrist</p>
            <p>Gorakhpur Medical College</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
          </div>
       </div>
    </div>

   <div class="column">
     <div class="card">
      <img src="https://img.icons8.com/color/100/000000/gabriel-aul.png" alt="Dr. Kunal Maheshwari" style="width:auto">
    
        <div class="container">
            <h2>Dr. Kunal Maheshwari</h2>
            <p class="title">Counsellor</p>
            <p>Lucknow PGI</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
             </div>
         </div>
    </div>
  
    <div class="column">
      <div class="card">
          <img src="https://img.icons8.com/ios/100/000000/dona-sarkar.png" alt="Ekta Mukherji" style="width:auto">
      
      <div class="container">
           <h2>Dr. Tanvi Chabbra</h2>
               <p class="title">PsychoAnalist</p>
               <p>Delhi Medical University</p>
         <div style="margin: 24px 0;">   
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
           </div>
          <p><button class="button">Contact</button></p>
          </div>
        </div>
    </div>

 </div>


 <div class="row">
    <div class="column">
     <div class="card">
       
       <img src="https://img.icons8.com/color/100/000000/dona-sarkar.png" alt="Dr. Aditi Bhanushali" style="width:auto">
      
     <div class="container">
            <h2>Dr. Aditi Bhanushali</h2>
            <p class="title">Psychoterapist</p>
            <p>BRD Medical College Gorakhpur</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
          </div>
       </div>
    </div>

   <div class="column">
     <div class="card">
      <img src="https://img.icons8.com/color/100/000000/gabriel-aul.png" alt="Dr. Aakash Dhanukar" style="width:auto">
    
        <div class="container">
            <h2>Dr. Aakash Dhanukar</h2>
            <p class="title">Marriage Counsellor</p>
            <p>PGIMER Chandigarh</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
             </div>
         </div>
    </div>
  
     <div class="column">
     <div class="card">
      <img src="https://img.icons8.com/color/100/000000/gabriel-aul.png" alt="Dr.Anup Kumar" style="width:auto">
    
        <div class="container">
            <h2>Dr.Anup Kumar</h2>
            <p class="title">Psychiatrist</p>
            <p>JIPMER Pondicherry</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
             </div>
         </div>
    </div>

 </div>



 <div class="row">
   <div class="column">
     <div class="card">
      <img src="https://img.icons8.com/color/100/000000/gabriel-aul.png" alt="Dr.Vinay Kumar" style="width:auto">
    
        <div class="container">
            <h2>Dr.Vinay Kumar</h2>
            <p class="title">Addiction Counsellor</p>
            <p>ILBS New Delhi</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
             </div>
         </div>
    </div>    

  <div class="column">
     <div class="card">
       
       <img src="https://img.icons8.com/color/100/000000/dona-sarkar.png" alt="Dr. Manan Arora" style="width:auto">
      
     <div class="container">
            <h2>Dr. Manan Arora</h2>
            <p class="title">Psychoterapist</p>
            <p>St John's Medical College Bangalore</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
          </div>
       </div>
    </div>

   <div class="column">
     <div class="card">
      <img src="https://img.icons8.com/color/100/000000/gabriel-aul.png" alt="Dr. Savitri Goenka" style="width:auto">
    
        <div class="container">
            <h2>Dr. Savitri Goenka</h2>
            <p class="title">Psychologist</p>
            <p>Aligrah Muslim University</p>
            
      <div style="margin: 24px 0;">  
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a>  
            <a href="#"><i class="fa fa-linkedin"></i></a>  
            <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
      <p><button class="button">Contact</button></p>
             </div>
         </div>
    </div>
  
 </div>

</div>

</body>
</html>