
<head>
	<title>V-Vaidya</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/chatbox.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/scripts/script.js"></script>
 </head>
<body>

<!--sidebar-->
<!--<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="/users/mental_illness">Mental Illness</a>
  <a href="/users/physical_illness">Physical Illness</a>
</div>
-->


<!--Responsive Navbar -->

<!--page header-->
<div class="header">
	<br><br><h1>V-Vaidya<img src="https://img.icons8.com/ios/50/000000/stethoscope.png" width="75" height="75" />
	</h1> <br></div>


<!--About us -->
<div class="about">
	<br><br><br>
	<h2><em>About Us </em></h2>
	
	<p>Mental health! These two words are heard a lot now – a – days. 
	There is a lot of awareness being created on the importance of a healthy mind. 
	But is only creating an awareness enough? 
	Here, we present to you our all in one WebApp where you can speak to doctors from the comfort of your room about both- physical and mental issues, get assistance from them as and when required, chat with other people in the mental health community and also find some great yoga techniques to keep your mind and body calm. 
	What are you waiting for? Are afraid of being interrupted by a third – party? Don’t worry. We promise to never use your data without your permission. Also, we assure you of secured one – on – one communication with the docs.
	</p>

	<br><br><br>
</div><br>

<!--why doctors will visit this website.-->
<div class="whydoctors">
<br>	<br><br><h1><em>Why should you volunteer as a doc here?</em></h1>

	<p>Help the community to be a better and healthier place. As a doctor, you have a lot of responsibilities and we understand that. Here, we are adding on to that list of responsibilities by asking you to join this wonderful community where we help people to open up about their mental and physical illnesses. 
	The reason we have created this community is to give people a secured and a comfortable place to speak about the issues that they face, especially the ones related to mental health. 
	Also you don't need to be there all time on this website you can login whenever you are free to give advices to one's who need it.
	</p>
<br><br><br>
</div>
<br>


</body>