<!DOCTYPE html>
<html>

<head>
	<title>MentalChatRoom</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/scripts/script.js"></script>

	<style>

		body{
				font-size: 20px;
		}

		p{
			text-indent: 30px;
		}

		.serif {
  			font-family: "Times New Roman", Times, serif;
		}

		.mydiv{
			padding:16px;
			margin:10px;
		}

		button{
			background-color:black;
			color:white;
			padding:10px 22px;
			margin:8px;
			display:inline-block;
			border:none;
			cursor:pointer;	
			width:auto;
			font-size:16px;
		}	
	
		button:hover{
			opacity:0.6;
		}	

		a:link, a:visited{
			color:white;
			text-decoration:none;
		}

		table{
			border-collapse:collapse;
			width:100%;
		}

		td,th{
			border: 1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(even){
			background-color:#dddddd;
		}

	</style>
</head>

<body>

<br><br><br>
<h2><em>ChatRooms for Mental illness</em></h2>

<button type="button" style="width:100%"><a href="newChat.html">Create a new ChatRoom</a></button>

<table>
	<tr style="font-size:25px">
		<th>Sr. No.</th>
		<th>ChatRoom Name</th>
		<th>Join the chat</th>
	</tr>

	<tr>
		<td>1</td>
		<td>Mental health</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>2</td>
		<td>How to fight depression?</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>3</td>
		<td>Lets Meditate together!</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>4</td>
		<td>Alzeihmers</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>5</td>
		<td>Anxiety</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>6</td>
		<td>Yoga for mental heath</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>7</td>
		<td>Communication Disorders</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>
	
	<tr>
		<td>8</td>
		<td>Mania</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>
	
	<tr>
		<td>9</td>
		<td>Bipolar Disorder</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>10</td>
		<td>GAD</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>11</td>
		<td>Social Anxiety Disorder</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>12</td>
		<td>Agoraphobia</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>13</td>
		<td>Post-traumatic stress disorder</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>14</td>
		<td>Dissociative Disorder</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>15</td>
		<td>Dissociasiv Amnesia</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>16</td>
		<td>Conversion Disorder</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	
	<tr>
		<td>17</td>
		<td>Anorexia Norvosa</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

	<tr>
		<td>18</td>
		<td>Bulimia Norvosa</td>
		<td><button type="button"><a href="/users/ChatRoomPublic">Join</a></button></td>
	</tr>

</table>

<!--footerrr-->

</body>
</html>