
<head>
	<title>Physical Illness</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/physical_illness.css">
	<script type="text/javascript" src="/scripts/script.js"></script>

	<style>

		body{
				font-size: 20px;
		}

		p{
			text-indent: 30px;
		}

		.serif {
  			font-family: "Times New Roman", Times, serif;
		}

		.mydiv{
			padding:16px;
			margin:10px;
		}

		button{
			background-color:black;
			color:white;
			padding:18px 42px;
			margin:8px;
			display:inline-block;
			border:none;
			cursor:pointer;	
			width:auto;
			font-size:16px;
		}	
	
		button:hover{
			opacity:0.6;
		}	

		a:link, a:visited{
			color:white;
			text-decoration:none;
		}

	</style>

</head>

<body>







<div class="mydiv">

<h1><em>Physical Illness </em></h1>
<p>
	Today, doctors treat and diagnose a disease based on abnormalities in systemic functions – for example, cardiovascular disease. These abnormalities can cause both physical and emotional signs and symptoms, as well as pain, dysfunction, distress, social problems or death.
While doctors diagnose and treat a disease, a disorder is defined as follows. For example, a disorder resulting from cardiovascular disease is an arrhythmia or irregular heartbeat. An arrhythmia is not a disease itself – it’s an abnormal heartbeat that occurs as a result of having cardiovascular disease.
<br>Disorders can be classified into the following areas:
    <ul>
	<ol><li>Mental</li>
    	<li>Physical</li>
    	<li>Genetic</li>
    	<li>Emotional</li>
    	<li>Behavioural</li>
    	<li>Structural</li>
    </ol>
    </ul>
</p>
	<p>A syndrome is a term that refers to a disease or a disorder that has more than one identifying feature or symptom. Medical syndromes can be caused by genetic mutations or other factors. Sometimes, a syndrome can be caused by a number of diseases or it can be a medical condition itself.
For example, chronic fatigue syndrome is a neurological condition, diagnosed from a collection of symptoms in addition to the main symptom of post-exertional malaise.
<br>

</p>
</div>
</div>

<div class="mydiv">

	<br><br>
	<h2 style="text-align:center"><em>Find A Doctor</em></h2><br>

	<p style="text-align:center">
	Need assistance? Click on the button down below and start a one - on - one communication with the doctors.<br><br>
	
	<button type="button"><a href="/users/Find_a_Doc">Find</a></button><br>
	
	</p>
</div>

<div class="mydiv" style="background-color:#FF8C00;">
	<br><br>
	<h2 style="text-align:center"><em>ChatRoom</em></h2><br>

	<p style="text-align:center">
		By entering a chat room, you can put forth your queries and get assistance from doctors and people arround the world.
		For personal one- on - one communication with a Doc, click on the above button "FIND". 
		<br>To enter a chatroom click the button below. <br><br> 

		<button type="button"><a href="/users/ChatRoom">ChatRoom</a></button><br>
	
	</p>

</div>

<div class="mydiv"> 
	<br><br>
	<h2 style="text-align:center"><em>VideoHelp</em></h2><br>

	<p style="text-align:center">
	
		Need some instant help? Click on the "VideoHelp" button down below to see some amazing videos.
		The videos are a set of some yoga and meditation techniques, to keep yourself calm. 
		Also there are some pep talk videos.<br><br>

	<button type="button"><a href="/users/VideoHelp">VideoHelp</a></button><br>	

	</p>
</div>
<!--footerrr-->


</body>