<!DOCTYPE html>
<html>
<head>
	<title>VideoHelp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/video.css">
	<script type="text/javascript" src="script.js"></script>
	<style>
		body{
			font-size:20px;
		}

		.mydiv{
			padding:26px;
			margin:10px;
		}
	</style>

</head>

<body>
	<!--sidebar-->

<br><br><br><br>
<h1><em>VideoHelp</em></h1>

<div class="mydiv">
	
	<b>Neck exercise:</b><br><br>	
	
	<iframe style="border:none" src="https://www.youtube.com/embed/QjGF2MLdIz8">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/JnhUmq0va4A">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/SedzswEwpPw">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/gGFL8upCXFI">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/iwPsbH5yFc4">
	</iframe>
</div>

<div class="mydiv">
	
	<b>Meditation</b><br>

	<iframe style="border:none" src="https://www.youtube.com/embed/inpok4MKVLM">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/EwQkfoKxRvo">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/OB3XQGxy9hA">
	</iframe>	

	<iframe style="border:none" src="https://www.youtube.com/embed/XnT_cOq_Ba8">
	</iframe>

	<iframe style="border:none" src="https://www.youtube.com/embed/q5thMTntbOY">
	</iframe>


</div>

<!--footerrr-->

</body>

</html>